@import "../../../../scss/var";

.patientPaginationWrap {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;

  .paginationNumber {
    ul {
      display: flex;
      list-style: none;
      padding: 0;

      li {
        border: 1px solid #ccd1db;
        padding: 4px 6px;
        font-size: 14px;
        width: 34px;
        height: 34px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-right: 12px;
        &.active {
          color: #1caec9;
          border-color: #1caec9;
        }
        &.pre {
          background-color: #eaecf0;
          color: $iconColor;
        }
      }
    }
  }

  .rowPerPageTxt {
    color: #51555f;
    font-weight: 350;
    margin-right: 8px;
  }
  .rowPerPageDropdown {
    border: 1px solid #ccd1db;
    border-radius: 8px;
    height: 32px;
    display: inline-block;
    padding: 0 15px 0 0;
    width: 90px;
    background-color: transparent;
    select {
      border-radius: 8px;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
}
