@import "../../scss/var";

.patientImgWrap {
  display: flex;
  align-items: center;
  & .patientImg {
    cursor: pointer;
    margin-right: 10px;
    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .patientName {
    color: $primary;
    font-weight: 500;
  }
  .patientNumber {
    color: #818496;
    font-weight: 300;
  }
}
.weightWrap {
  display: flex;
  gap: 33px;
  .weight {
    width: 35px;
  }
  .changeInWeightWrap {
    display: flex;
    align-items: center;
    gap: 7.5px;
    & .arrowDown {
      transform: rotate(180deg);
    }
  }
}
.statusText {
  margin-left: 8px;
}

.option {
  cursor: pointer;
}

.headerProfile_dropdown {
  button {
    &::after {
      display: none;
    }
  }
}

.teamList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 250px;
  & .teamListItem {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: -8px;
    border: 2px solid transparent;
    flex-shrink: 0;
    // &:hover {
    //   border-color: $primary;
    // }
    > span {
      display: block !important;
    }
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .teamListNumber {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $secondary100;
    margin-right: -8px;
    flex-shrink: 0;
    & .teamList_dropdown {
      height: 100%;
      width: 100%;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        width: 100%;
        &::after {
          display: none;
        }
      }
      & .teamList_DropMenu {
        z-index: 9;
      }
    }
  }
}
