@import "../../../../scss/var";

.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form {
    .infoTxt {
      color: $primary;
      font-size: 14px;
    }

    .formFields {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 32px;
      Label {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 12px;
        color: #6c7893;
      }
      .radio {
        display: flex;
        margin-top: 2px;
        justify-content: space-between;

        .radioCheck {
          label {
            display: flex;
            justify-content: center;
            width: 114px;
            background-color: $secondary100;
            color: $headingColor;
            padding: 10px 31px;
            border-radius: 8px;
            text-align: center;
            font-size: 14px;
            .checkIcon {
              padding-left: 5px;
              display: none;
            }
          }
          input {
            display: none;
            &:checked {
              & ~ label {
                background-color: $secondary400;
                color: white;
                .checkIcon {
                  display: inline;
                }
              }
            }
          }
        }
      }

      .phoneNumber {
        border: 1px solid #ccd1db;
        border-radius: 8px;
        font-size: 14px;
        height: 40px;
        width: 100%;
        &:focus {
          box-shadow: none;
          outline: none;
        }
        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .phoneNumber {
      display: flex;
      padding: 0px 17px;
      & input {
        border: none;
        margin-left: 5px;
        &:focus-visible {
          outline: none;
        }
      }
    }

    .idCard {
      input {
        display: none;
      }
      .cardWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed #ccd1db;
        border-radius: 8px;
        height: 200px;
        overflow: hidden;
        cursor: pointer;

        .pickImgWrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          .cardTxt1 {
            color: #acafbf;
            font-size: 12px;
            font-weight: 400;
          }
          .cardPickImg {
            margin: 10px 0px 6px;
          }
          .cardTxt2 {
            font-size: 12px;
            font-weight: 500;
            span {
              color: $primary;
            }
          }
        }

        .showImgWrap {
          height: 100%;
          width: 100%;
          & span {
            height: 100% !important;
            width: 100% !important;
            & img {
              object-fit: cover;
            }
          }
        }
      }
    }

    .formButtons {
      position: sticky;
      bottom: 0;
      background-color: #fff;
      box-shadow: 0px -1px 1.5px rgba(182, 182, 182, 0.75);
      margin: 0px -2rem -2rem;
      z-index: 9999;

      .buttonWrap {
        padding: 24px;
        .cancelButton {
          margin-left: 15px;
        }
      }
    }
  }
}
