@import "../../../../scss/var";

.showProfileWrap {
  padding: 25px 0;
  display: flex;
  gap: 32px;

  .image {
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .uploadDeleteWrap {
    margin: 25px 0 0;
    .deleteButton {
      margin-left: 15px;
    }
    input {
      display: none;
    }
    .userImage {
      cursor: pointer;
    }
  }

  .contentWrap {
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex-grow: 2;
  }

  .form {
    .infoTxt {
      color: $primary;
      font-size: 14px;
    }

    .formFields {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .nameFields {
        display: flex;
        gap: 24px;
        & > div {
          flex-grow: 1;
        }
      }
      .emailPhoneFields {
        display: flex;
        gap: 24px;
        & > div {
          flex-grow: 1;
        }
      }
      Label {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 12px;
        color: #6c7893;
      }
      .radio {
        display: flex;
        margin-top: 2px;
        gap: 16px;
        .radioCheck {
          label {
            display: flex;
            justify-content: center;
            width: 114px;
            background-color: $secondary100;
            color: $headingColor;
            padding: 10px 31px;
            border-radius: 8px;
            text-align: center;
            font-size: 14px;
            .checkIcon {
              padding-left: 5px;
              display: none;
            }
          }
          input {
            display: none;
            &:checked {
              & ~ label {
                background-color: $secondary400;
                color: white;
                .checkIcon {
                  display: inline;
                  color: white;
                }
              }
            }
          }
        }
      }

      .phoneNumber {
        border: 1px solid #ccd1db;
        border-radius: 8px;
        font-size: 14px;
        height: 40px;
        width: 100%;
        display: flex;
        padding: 0px 17px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
        &::placeholder {
          font-size: 12px;
        }
        & input {
          border: none;
          margin-left: 5px;
          &:focus-visible {
            outline: none;
          }
        }
      }
    }

    .idCard {
      input {
        display: none;
      }
    }
  }

  .cancelButton {
    margin-left: 16px;
  }
}
